<%- include('parts/header.ejs') %>
<%- include('parts/navbar.ejs') %>

<div class="container text-center">
    <h3>Login</h3>
    <form action="/login" method="post">
        <input type="email" class="form-control" name="email" placeholder="E-mail">
        <% let emailError = validationErrors.find(err => err.path == 'email') %>
        <% if (emailError) { %>
            <p class="alert alert-danger">
                <%= emailError.msg %>
            </p>
        <% } %>
        <input type="password" class="form-control" name="password" placeholder="Password">
        <% let passError = validationErrors.find(err => err.path == 'password') %>
        <% if (passError) { %>
            <p class="alert alert-danger">
                <%= passError.msg %>
            </p>
        <% } %>
        <input type="submit" value="Login" class="btn btn-primary">
    </form>
    
    <% if (authError) { %>
        <br>
        <p class="alert alert-danger">
            <%= authError %>
        </p>
    <% } %>
    <br>
    <div>
        Don't have account ? <a href="/signup">Create Account</a>
    </div>
</div>



<%- include('parts/footer.ejs') %>